 <div class="container">
	<footer class="footer page-footer font-small pt-4">
		<div class="footer-copyright py-3">© 2020 Copyright:
    		<a href="https://tpremes.herokuapp.com/"> TPRemes/Magistrum</a>
  		</div>
	</footer>
</div>
</body>
</html>